/* body{
    margin: 0;
    height: 100%;
    min-height: 100vh;
    background-image: url(../src/images/Imagen1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }
  body::before{
    content: "";
    width:100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background:linear-gradient(90deg, #212121,#263238);
    opacity: 0.3;
    z-index: -1;
  } */
body{
  background-image: url(../src/images/Imagen1.png);
  /* background-size: 50% 100%; */
  background-repeat: no-repeat;
  background-position: 350px center;
  /* background-position: center; */
  background-attachment: fixed;
}
/* 
  body{
    background: #606c88;  
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88); 
background: linear-gradient(to right, #3f4c6b, #606c88);
  } */

/* body{
  height: 100%;
  background: rgb(26,22,22);
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  background: linear-gradient(
    0deg,
     rgb(194, 136, 136) 1%,
     rgba(212,16,16,1) 98%);
} */

/* body{
  background: rgb(26,22,22);
  height: 100vh;
background: linear-gradient(0deg, rgba(26,22,22,1) 1%, rgba(177,20,20,1) 92%);
} */